*{
    box-sizing: border-box;
}

.header{
    padding: 20px 20px 20px 0px;
    background-color: #5cdb95
}

.header h1{
    font-weight: bold;
    display: inline-block;
    font-size: 60px;
    color: #05386b;
    /*background-color: #379683;*/
    padding-left: 50px;
}

.header nav{
    font-size: 40px;
    margin-right: 20px;
    float: right;
    padding: 10px;
}

.header li{
    display: inline-block;
    margin-left: 15px;
}

.header a{
    text-decoration: underline;
    color:#05386b;
    text-underline-offset: 10px;
}

section{
    display: flex;
    align-items: center;
    margin: 30px 0px;
    padding-top: 10px;
    /* scroll-snap-align: start; */
}

section h2{
    flex: 1;
    font-size: 40px;
    padding-left: 150px;
    position: relative;
}

section p{
    flex: 3;
    margin-right: 180px;
    font-size: 20px;  
}

section h2::after{ 
    content: "";
    width: 3px;
    height: 120px;
    display: block;
    position: absolute;
    background-color: #333;
    right: 146px;
    top: 50%;
    transform: translateY(-50%);
}

.work h2::after{
    right: -40px;
    top: 50%;
    height: 800px;
}

.work h2{
    height: 800px;
}

/* might make this an id later*/
.contact h2::after{
    content: "";
    width: 3px;
    height: 100%;
    display: block;
    position: absolute;
    background-color: #333;
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
}

.me{
    display: block;
    margin-left: 70px;
}

footer { 
    display: flex;
    /* justify-content: center;  */
    align-items: flex-end;
    background-color: #5cdb95;
    padding: 0px;
    color: #05386b;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.contact p{
    text-align: right;
    white-space: nowrap;
    font-weight: bolder;
}

.contact-info{
    padding-left: 250px;
}


main{
    scroll-snap-type: y mandatory;
    overflow-y:scroll ;
    height: 150vh;
}

.banner{ 
    width: 100%;
    height: 150px;
    border: solid black 4px;
    margin-bottom: 20px;
}

.box{
    border: 1px blue solid ;
    width: 800px;
    height: 450px;
    margin-bottom: 20px;
    margin-right: 52px;
}

.box-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.box-small{
    width: 36.5%;
    height: 150px;
    margin-right: 50px;
    margin-bottom: 20px;
}


html{
    scroll-behavior: smooth;
}

.box-small img {
    width: 375px;
    height: 150px;
}
.container{
    padding-left: 180px;
}

#contact{
    left: -20px;
}