*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header{
    padding: 20px 20px 20px 0px;
    background-color: #5cdb95
}

.header h1{
    font-weight: bold;
    display: inline-block;
    font-size: 45px;
    color: #05386b;
    /*background-color: #379683;*/
    padding-left: 50px;
}

.header nav{
    font-size: 30px;
    margin-right: 20px;
    float: right;
    padding: 10px;
}

.header li{
    display: inline-block;
    margin-left: 15px;
}

.header a{
    text-decoration: underline;
    color:#05386b;
    text-underline-offset: 10px;
}

