:root{
    --black:black;
    --green:#08fa4db4;
    --grey:#cccccc;
    --skyblue:#04e8f8;
}

*{
    box-sizing: border-box;
    font-family: American Typewriter, serif !important;
    background-color: var(--black);
}

.header{
    padding: 20px 20px 0px 0px;
}

.header a:hover{ 
    color: #04e8f8;
 }  

nav a:active{ 
    color: var(--skyblue);
} 

nav a:focus{
    border-color: var(--skyblue);

}  

.header h1{
    font-weight: bold;
    display: inline-block;
    font-size: 60px;
    color: var(--black);
    background-color: var(--green);
    padding-left: 50px;
}

.header nav{
    font-size: 40px;
    margin-right: 20px;
    float: right;
    padding: 10px;
}

.header li{
    display: inline-block;
    margin-left: 15px;
}

.header a{
    text-decoration: underline;
    color:var(--green);
    text-underline-offset: 10px;
}

section{
    display: flex;
    align-items: center;
    margin: 30px 0px;
    padding-top: 10px;
}

section h2{
    flex: 1;
    font-size: 40px;
    padding-left: 150px;
    position: relative;
    color: var(--skyblue);
    height: 100px;
}

section p{
    flex: 3;
    padding-right: 50px;
    font-size: 20px;
    color: var(--skyblue);  
}

section h2::after{ 
    content: "";
    width: 3px;
    height: 120px;
    display: block;
    position: absolute;
    background-color: var(--green);
    right: 155px;
    top: 50%;
    transform: translateY(-50%);
}

.work h2::after{
    right: -52px;
    top: 50%;
    height: 800px;
}

.work h2{
    height: 800px;
}

.contact h2::after{
    content: "";
    width: 3px;
    height: 100%;
    display: block;
    position: absolute;
    background-color: var(--green);
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
}

.me{
    display: block;
    margin-left: 70px;
}

footer { 
    display: flex;
    /* justify-content: center;  */
    align-items: flex-end;
    padding: 0px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.contact p{
    text-align: right;
    white-space: nowrap;
    font-weight: bolder;
}

.contact-info{
    padding-right: 100px;
    margin-left: 100px;
}

.banner{ 
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.box{
    width: 810px;
    height: 456px;
    margin-bottom: 40px;
    margin-right: 52px;
    border: var(--green) 3px solid;
}

.box-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.box-small{
    width: 39.%;
    height: 156px;
    margin-right: 50px;
    margin-bottom: 20px;
    border: solid 3px var(--green);
}


html{
    scroll-behavior: smooth;
}

.box-small img {
    width: 375px;
    height: 150px;
}
.container{
    padding-left: 200px;
}

#contact{
    left: -20px;
}

a img{
    vertical-align: middle;
}

.box{
    position: relative;
}

.box h3{
    color: var(--black);
    background-color: var(--green);
    width: 100px;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 50px;
    margin-bottom: 50px;
}

.box-small{
    position: relative;
}

.box-small #horiseon{
    width: 225px;
    height: 30px;
}

.box-small h3{
    color: var(--black);
    background-color: var(--green);
    width: 50px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 25px;
    margin-bottom: 20px;
}

.box-small #horiseon:active{
    color: var(--skyblue);
}

.avatar{
    width: 120px;
    height: 200px;
    position: absolute;
    top: 13%;
    left: 150px;
}

.contact a{
    text-decoration: none;
    color:var(--skyblue);  
}